In [24]:
from tweepy.streaming import StreamListener
from tweepy import OAuthHandler
from tweepy import Stream
import tweepy
import pickle
import pandas as pd
import datetime

In [25]:
# using python object serialization using pickle to load the credentials from a different notebook with the twitter credentials from my developer account
credentials = pickle.load(open("save.credentials", "rb"))
# loading the credentials
ACCESS_TOKEN = credentials[0]
ACCESS_TOKEN_SECRET = credentials[1]
API_KEY = credentials[2]
API_SECRET_KEY = credentials[3]

In [26]:
# creating authentication for twitter
def authenticate_twitter():
    auth = tweepy.OAuthHandler(API_KEY,API_SECRET_KEY)
    auth.set_access_token(ACCESS_TOKEN,ACCESS_TOKEN_SECRET)
    api = tweepy.API(auth, wait_on_rate_limit = True)

In [27]:
# collecting media sources and words of relevance 
media_sources = pickle.load(open("save.media", "rb"))
# These are the words that we are looking to match with the tweets
words_relevance = ["Black+lives+matter","racism", "police+brutality"]
# getting required hashtags and dates
date_since = "2020-05-25"
full_data_frame = pd.DataFrame(columns =["Tweet", "Username","Likes", "Retweet count"])


## We have to breakdown our collection into smaller word lists because the API call restrictions from twitter, hence we divide our analysis into three sections collected over a break of fifteen minutes each

In [28]:
# calls the api
authenticate_twitter()
# we have two nested loops in which we iterate through the media channel and the tweet
for media in media_sources:
    for word in words_relevance:
        # we make a search word by specifying the username and keywords and removing retweets in this count
        search_word = "from:"+media+ " "+ word+ " -filter:retweets"
        # tweepy's function for gathering the dataset
        tweets = tweepy.Cursor(api.search, q = search_word, lang = "en",since = date_since).items(1000)
        # extracting the dataset
        tweet_details = [[tweet.text, tweet.user.screen_name, tweet.favorite_count, tweet.retweet_count] for tweet in tweets]
        tweet_df = pd.DataFrame(data=tweet_details, columns=["Tweet", "Username","Likes", "Retweet count"])
        tweet_df = tweet_df.drop_duplicates()
        full_data_frame = pd.concat([full_data_frame,tweet_df], ignore_index = True)
full_data_frame.to_csv("Tweet Data Stored, 1.csv")

In [29]:
display(full_data_frame.head(), full_data_frame.shape)

,Tweet,Username,Likes,Retweet count
0,#BlackLivesMatter presents an inaccurate and i...,Telegraph,61,19
1,"""The next stage is the counter-strike by those...",Telegraph,12,3
2,@DannyBoyle87 Black Lives Matter: BBC says sho...,Telegraph,19,5
3,A new study which assessed data from 315 US ci...,Telegraph,52,18
4,"✉️ Letters to the Editor: 'As a BAME citizen, ...",Telegraph,34,10

(700, 4)

In [30]:
words_relevance = ["george+floyd","breonna+taylor","ahmaud+arbery"]

In [31]:
for media in media_sources:
    for word in words_relevance:
        search_word = "from:"+media+ " "+ word+ " -filter:retweets"
        tweets = tweepy.Cursor(api.search, q = search_word, lang = "en",since = date_since).items(1000)
        tweet_details = [[tweet.text, tweet.user.screen_name,tweet.favorite_count,tweet.retweet_count] for tweet in tweets]
        tweet_df = pd.DataFrame(data=tweet_details, columns=["Tweet", "Username","Likes","Retweet count"])
        tweet_df = tweet_df.drop_duplicates()
        full_data_frame = pd.concat([full_data_frame,tweet_df], ignore_index = True)
full_data_frame.to_csv("Tweet Data Stored, 2.csv")

In [32]:
display(full_data_frame.head(), full_data_frame.shape)

,Tweet,Username,Likes,Retweet count
0,#BlackLivesMatter presents an inaccurate and i...,Telegraph,61,19
1,"""The next stage is the counter-strike by those...",Telegraph,12,3
2,@DannyBoyle87 Black Lives Matter: BBC says sho...,Telegraph,19,5
3,A new study which assessed data from 315 US ci...,Telegraph,52,18
4,"✉️ Letters to the Editor: 'As a BAME citizen, ...",Telegraph,34,10

(965, 4)

In [33]:
words_relevance = ["police+protest","defund+police","minnesota+police"]

In [35]:
for media in media_sources:
    for word in words_relevance:
        search_word = "from:"+media+ " "+ word+ " -filter:retweets"
        tweets = tweepy.Cursor(api.search, q = search_word, lang = "en",since = date_since).items(1000)
        tweet_details = [[tweet.text, tweet.user.screen_name, tweet.favorite_count, tweet.retweet_count] for tweet in tweets]
        tweet_df = pd.DataFrame(data=tweet_details, columns=["Tweet", "Username", "Likes","Retweet count"])
        tweet_df = tweet_df.drop_duplicates()
        full_data_frame = pd.concat([full_data_frame,tweet_df], ignore_index = True)

In [36]:
full_data_frame.to_csv("Tweet Data Stored, 4.csv")
display(full_data_frame.head(), full_data_frame.shape)

,Tweet,Username,Likes,Retweet count
0,#BlackLivesMatter presents an inaccurate and i...,Telegraph,61,19
1,"""The next stage is the counter-strike by those...",Telegraph,12,3
2,@DannyBoyle87 Black Lives Matter: BBC says sho...,Telegraph,19,5
3,A new study which assessed data from 315 US ci...,Telegraph,52,18
4,"✉️ Letters to the Editor: 'As a BAME citizen, ...",Telegraph,34,10

(1223, 4)

In [38]:
pickle.dump(full_data_frame, open("28thJunedata", "wb"))